les4/hw4/devtask/.idea/devtask.iml
les4/hw4/devtask/.idea/misc.xml
les4/hw4/devtask/.idea/modules.xml
les4/hw4/devtask/.idea/vcs.xml
les4/hw4/devtask/.idea/workspace.xml
les4/hw4/proverka zrenija/.idea/misc.xml
les4/hw4/proverka zrenija/.idea/modules.xml
les4/hw4/proverka zrenija/.idea/proverka zrenija.iml
les4/hw4/proverka zrenija/.idea/vcs.xml
les4/hw4/proverka zrenija/.idea/workspace.xml